.filled svg {
    fill: var(--primary);
}

.star {
    display: inline-block;
}

.star svg{
    margin-right: 5px;
}

.editable {
    cursor: pointer;
    
}

.editable svg {
    transition: .3s all;
}

.ratingWrapper {
    position: relative;
}

.error svg {
    stroke: var(--red);
}

.errorMessage {
    position: absolute;
    bottom: -15px;
    left: 0;
    color: var(--red);
}